.modal-wrapper{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(189, 189, 189,0.4);
}
.modal-container{
    position: fixed;
    max-width: 60rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: black;
    border-radius: 10px;

}

.input-container{
    display: flex;
    margin: 10;
}

.input-fields{
    width: 200px;
    border:0px; 
    border-radius: 10px;
    background-color: #222323;
    color: white;
    padding:10px;
}

.cancel-button{
    color: rgb(162, 217, 32);
     background-color: black; 
     border: 0px;
    margin-right: 20px;
}

.save-button{
    color: white;
    background-color: #222323;
    border:0px;
    border-radius: 10px;
    width: 80px;
    height: 40px;
}

.button-container{
    margin-top: 20px;
    margin-bottom:10px;
    display: flex;
    justify-content: flex-end;
}

#labels{
    color: white;
}

.label-container-1{
    margin: 10px;
}

.label-container-2{
    margin-top: 20px;
    margin-bottom:10px;
}

.inner{
    width: 20px;
}

.form-container{
    padding:20px;
}

.name-container{
    padding-left: 20px;
    padding-top: 20px; 
    padding-right:0px;
    margin-right:0px;
}

#header{
    color: white;
}

.edit-header{
    font-size: 30px;
}

.product-header{
    font-size: 20px;
}

#cancel-header{
    display:flex;
    justify-content: flex-end;
}

.cross-button{
    border:0px;
    border-radius: 10px; 
    background-color:#222323;
    width: 40px;
    height:40px;
    color: rgb(162, 217, 32);
}